<%= content_tag :tr, id: "comment-#{comment.id}", class: "comment-test" do %>
  <td> <%= comment.body %> </td>
  <td><%= comment.collaborator.user.name %> </td>
  <% if current_user.role == "premium" || "admin" %>
    <td><%= link_to "Delete",[comment.wiki, comment], method: :delete, class: 'btn btn-danger btn-sm', remote: true %></td>
  <% end %>
<% end %>
