<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).fadeOut(300);
  // $('nav').append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><%= flash[:info] = "Comment was deleted!" %></div>');
<% else %>
  $('nav').append('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><%= flash[:info] = "There was an error deleting your comment!" %></div>');
<% end %>
