
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
.nav {
    padding: 10px 0px 10px 0px;
    height: 0px;
    margin: 0px;
  }

.text-muted {
  margin-top: 40px;
}

.test {
  margin: 15px 20px;
  color: #337ab7;
}

.navbar-new .navbar-toggle .icon-bar {
	  background-color: #337ab7;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { }
